* {
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}

button {
  font-size: inherit;
}

body {
  font-family: "Fredoka+One", cursive;
  font-size: 2rem;
  min-height: 100vh;
  background: wheat;
}

main {
  max-width: 70rem;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 3;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.catGallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1.2fr));
  gap: 1.2em;
  margin-top: 1.2em;
}

/* Text layers and styling */
.headlines {
  font-family: "Fredoka+One", cursive;
  align-content: center;
  font-size: small;
}

.page-info {
  display: block;
  margin-top: 1em;
}

/* This is for the both the "next" and "preview" button */
.buttons {
  display: flex;
  gap: 1em;

  padding: 0.5em;
  border-radius: 5px;
  border: none;
  color: rgb(8, 65, 116);
}

button {
  padding: 0.5em;
  border-radius: 10px;
  border: none;
  color: #fff;
  background: linear-gradient(180deg, #6ef74b 0%, #51b617 100%);
}

button[disabled] {
  opacity: 0.3;
  cursor: not-allowed;
}
.buttons > * {
  flex: 1;
}

.body {
  margin: 0;
  padding-right: 20%;
  padding-left: 20%;
  font-family: "Fredoka+One", cursive;
  
}
main {
  margin: 0.5rem;
}
/* Gallery for cat API pictures */
.catGallery {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  object-position: center;
  border-radius: 0.2rem;
}
